$VENDORS: webkit, moz, ms, o, kthml;

@mixin vendor-prefix($property, $values...) {
  @each $vendor in $VENDORS {
    -#{$vendor}-#{$property}: $values;
  }
  #{$property}: $values;
}

@mixin vendor-prefixed-values($property, $values...) {
  @each $vendor in $VENDORS {
    -#{$vendor}-#{$property}: -#{$vendor}-$values;
  }
  #{$property}: $values;
}

&.box.app_view {
  padding-bottom: 0px;
}

section[data-main] {
  font-family: Lucida Grande;
}

.live-timer {
  font-size: 26px;
  font-weight: regular;
  color: #333;
}

.total-time {
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 12px;
  color: #999;
}

[class^="icon-time-"] {
  background-position: initial;
}

.icon {
  display: block;
  width: 15px;
  height: 15px;
  background-image: app-asset-url("icons.png");
  background-repeat: no-repeat;
}

.icon-time-play {
  background-position: -30px -30px;

  &.active {
    background-position: -5px -30px;
  }
}

.icon-time-pause {
  background-position: -30px -5px;

  &.active {
    background-position: -5px -5px;
  }
}

.icon-time-reset {
  background-position: -55px -5px;
}

.text-center {
  text-align: center;
}

input {
  text-align: inherit;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.timelogs-container {
  display: none;
  padding-bottom: 10px;

  .heading {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
  }
}

.timelogs-empty {
  color: #999;
  font-size: 11px;
  padding: 10px;
  text-align: center;
}

.csv-export {
  font-size: 11px;
}

.table {
  margin-bottom: 0px;

  tr:hover td {
    background-color: white;
  }

  th {
    font-size: 11px;
    font-weight: normal;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }

  td {
    border-top: 0px;
    padding-top: 10px;
    font-weight: normal;
    font-size: 11px;
    color: #8c8c8c;
  }
}

.expand-bar {
  background-color: #F8F8F8;
  border-top: 1px solid #f0f0f0;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  @include vendor-prefix(border-radius, 0 0 5px 5px);

  .arrow {
    margin-top: 12px;
    height: 6px;
    min-width: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: app-asset-url("ico-arrow-up-normal.png");
    @include vendor-prefix(transform, rotateX(180deg));
    @include vendor-prefixed-values(transition, transform 0.5s);
  }

  &.expanded .arrow {
    @include vendor-prefix(transform, rotateX(0deg));
  }

  &:hover {
    background-image: app-asset-url("hover-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.btn:focus {
  outline: 0;
}
